*.fdt
*.erp
*.set
AMICA*/*
*.npy
*.h5
*.fif
*.mat
*.sfp
*.csv
*.edf
*.tiff
*.pdf
*.svg
*.png
*.emf
*.tif
*.eeg
*.bvct
*.vhdr
*.vmrk
*.wmf
*.bdf
*.asv
*.mp4
Behavior*
*.zip
*.cdt
*.dpo
*.ceo
*.dpa
*.py
*.bdf
*.txt
*.r
*.erpm
*.log
*.psydat
Munich*
Krakow*
Essex*
Gent*
Geneva*
ONERA*
GroupLC*
*.xlsx
Magdeburg*
Verona*
LSU*
KHas*